header {
  z-index: 1;
}
a,
button,
input,
select,
h1,
h2,
h3,
h4,
h5,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    background: none;

    -webkit-font-smoothing: antialiased;
}
menu, ol, ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navigation-pill-list {
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-200, 8px);
  row-gap: 8px;
  align-items: flex-start;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-content: flex-start;
  flex: 1;
  position: relative;
}
.navigation-pill {
  border-radius: var(--var-sds-size-radius-200, 8px);
  padding: var(--var-sds-size-space-200, 8px);
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-200, 8px);
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.title {
  color: var(--var-sds-color-text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(
    --single-line-body-base-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--single-line-body-base-font-size, 16px);
  line-height: var(--single-line-body-base-line-height, 100%);
  font-weight: var(--single-line-body-base-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.button-text {
  text-align: center;
  font-family: var(
    --single-line-body-base-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--single-line-body-base-font-size, 16px);
  line-height: var(--single-line-body-base-line-height, 100%);
  font-weight: var(--single-line-body-base-font-weight, 400);
  position: relative;
}

.login {
  color: var(--var-sds-color-text-default-default, #1e1e1e);
}

.register {
  color: var(--var-sds-color-text-brand-on-brand, #f5f5f5);
}

.nav-bar {
  background: var(--var-sds-color-background-positive-secondary, #cff7d3);
  border-style: solid;
  border-color: var(--var-sds-color-border-default-default, #d9d9d9);
  border-width: 0px 0px 1px 0px;
  padding: var(--var-sds-size-space-800, 32px);
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-600, 24px);
  row-gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;
  position: fixed;
  top: 0px;
  overflow: visible;
}
.button-container {
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-300, 12px);
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.button {
  border-radius: var(--var-sds-size-radius-200, 8px);
  border-style: solid;
  border-width: 1px;
  padding: var(--var-sds-size-space-200, 8px);
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-200, 8px);
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.login-button {
  background: var(--var-sds-color-background-neutral-tertiary, #e3e3e3);
  border-color: var(--var-sds-color-border-neutral-secondary, #767676);
}

.register-button {
  background: var(--var-sds-color-background-brand-default, #2c2c2c);
  border-color: var(--var-sds-color-border-brand-default, #2c2c2c);
}

.logo-text-container {
  width: 201px;
  height: 96px;
  left: 0px;
  top: 0px;
  position: absolute;
}
.logo-container {
  width: 97px;
  height: 96px;
  position: absolute;
  left: 10px;
  top: 0px;
}
.logo-nav {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
.unplugged {
  color: var(--var-sds-color-text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(--heading-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--heading-font-size, 24px);
  line-height: var(--heading-line-height, 120%);
  letter-spacing: var(--heading-letter-spacing, -0.02em);
  font-weight: var(--heading-font-weight, 600);
  position: absolute;
  left: 90px;
  top: 33px;
}

/* for all the pop-up windows */

#login-window, #register-window, #forgot-password {
  position: absolute;
  top: 97.5px;
  right: 0%;
  display: none;
}

.form,
.form * {
  box-sizing: border-box;
}

.form {
  background: var(--var-sds-color-background-default-default, #ffffff);
  border-radius: var(--var-sds-size-radius-200, 8px);
  border-style: solid;
  border-color: var(--var-sds-color-border-default-default, #d9d9d9);
  border-width: 1px;
  padding: var(--var-sds-size-space-600, 24px);
  display: flex;
  flex-direction: column;
  gap: var(--var-sds-size-space-600, 24px);
  align-items: flex-start;
  justify-content: flex-start;
  height: 335px;
  min-width: 320px;
  position: relative;
}
.forgot-password-frm {
  height: auto;
  align-items: flex-end;
}

.register-frm {
  height: auto;
  width: 320px;
}

.input-field {
  display: flex;
  flex-direction: column;
  gap: var(--var-sds-size-space-200, 8px);
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.label {
  color: var(--var-sds-color-text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(--body-base-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-base-font-size, 16px);
  line-height: var(--body-base-line-height, 140%);
  font-weight: var(--body-base-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.input {
  background: var(--var-sds-color-background-default-default, #ffffff);
  border-radius: var(--var-sds-size-radius-200, 8px);
  border-style: solid;
  border-color: var(--var-sds-color-border-default-default, #d9d9d9);
  border-width: 1px;
  padding: var(--var-sds-size-space-300, 12px)
    var(--var-sds-size-space-400, 16px) var(--var-sds-size-space-300, 12px)
    var(--var-sds-size-space-400, 16px);
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  min-width: 240px;
  position: relative;
  overflow: hidden;
}

.value {
  color: var(--var-sds-color-text-default-tertiary, #b3b3b3);
  text-align: left;
  font-family: var(
    --single-line-body-base-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--single-line-body-base-font-size, 16px);
  line-height: var(--single-line-body-base-line-height, 100%);
  font-weight: var(--single-line-body-base-font-weight, 400);
  position: relative;
  flex: 1;
}

.frm-button-group, .frm-button-group-forgot-pw {
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-400, 16px);
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.frm-button-group-forgot-pw {
  justify-content: center;
}

.frm-button {
  background: var(--var-sds-color-background-brand-default, #2c2c2c);
  border-radius: var(--var-sds-size-radius-200, 8px);
  border-style: solid;
  border-color: var(--var-sds-color-border-brand-default, #2c2c2c);
  border-width: 1px;
  padding: var(--var-sds-size-space-300, 12px);
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-200, 8px);
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.frm-button-text {
  color: var(--var-sds-color-text-brand-on-brand, #f5f5f5);
  text-align: left;
  font-family: var(
    --single-line-body-base-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--single-line-body-base-font-size, 16px);
  line-height: var(--single-line-body-base-line-height, 100%);
  font-weight: var(--single-line-body-base-font-weight, 400);
  position: relative;
}

.text-link {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.text-link2 {
  color: var(--var-sds-color-text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(--body-link-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-link-font-size, 16px);
  line-height: var(--body-link-line-height, 140%);
  font-weight: var(--body-link-font-weight, 400);
  text-decoration: underline;
  position: relative;
  cursor: pointer;
}