main {
  margin-top: 5%;
  padding: 3px;
  width: 100%;
  position: relative;
  min-height: fit-content;
}
.place-single,
.place-single * {
  box-sizing: border-box;
}
.place-single {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  height: 1454px;
  position: relative;
  overflow: hidden;
}
.hero-basic {
  background-image: url(../img/loc_short/loc2/outside1.png);
  background-repeat: no-repeat;
  background-color: black;
  background-size: 100% 100%;
  padding: var(--var-sds-size-space-4000, 160px)
    var(--var-sds-size-space-1600, 128px) var(--var-sds-size-space-4000, 160px)
    var(--var-sds-size-space-1600, 64px);
    filter: blur(4px);
    -webkit-filter: blur(4px);
  display: flex;
  flex-direction: column;
  gap: 0px;
  height: 500px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.text-content-title {
  font-weight: bold;
  left: 50%;
  transform: translate(-50%, -200%);
  width: 80%;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: var(--var-sds-size-space-200, 8px);
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.place-title {
  color: var(--var-sds-color-text-default-default, #1e1e1e);
  -webkit-text-stroke: 2px white;
  text-align: center;
  font-family: var(--title-hero-font-family, "Inter-Bold", sans-serif);
  font-size: var(--title-hero-font-size, 72px);
  line-height: var(--title-hero-line-height, 120%);
  letter-spacing: var(--title-hero-letter-spacing, -0.03em);
  font-weight: var(--title-hero-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.place-subtitle {
  color: var(--var-sds-color-text-default-secondary, #757575);
  -webkit-text-stroke: 0.25px gray;
  text-align: center;
  font-family: var(--subtitle-font-family, "Inter-Regular", sans-serif);
  font-size: var(--subtitle-font-size, 32px);
  line-height: var(--subtitle-line-height, 120%);
  font-weight: var(--subtitle-font-weight, 400);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}
.panel-image-double {
  padding: var(--var-sds-size-space-1600, 64px);
  padding-top: 0;
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-1200, 48px);
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 478px;
  position: relative;
}
.image1 {
  background-image: url(../img/loc_short/loc2/outside2.png);
  background-repeat: no-repeat;
  background-color: black;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}
.image2 {
  background-image: url(../img/loc_short/loc2/inside.png);
  background-repeat: no-repeat;
  background-color: black;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}

.body {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: var(--var-sds-size-space-400, 16px);
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1150px;
  height: 303px;
  min-width: 160px;
  position: relative;
  left: 25px;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 100%;
  position: relative;
}
.title2 {
  color: var(--var-sds-color-text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(--heading-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--heading-font-size, 24px);
  line-height: var(--heading-line-height, 120%);
  letter-spacing: var(--heading-letter-spacing, -0.02em);
  font-weight: var(--heading-font-weight, 600);
  position: relative;
  align-self: stretch;
}
.place-description {
  color: var(--var-sds-color-text-default-secondary, #757575);
  text-align: left;
  font-family: var(--body-base-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-base-font-size, 16px);
  line-height: var(--body-base-line-height, 140%);
  font-weight: var(--body-base-font-weight, 400);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}